@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');

body{
font-family: 'Poppins', sans-serif;
}

.logo{
    height: 50px;
    cursor: pointer;
}
.navbar{
    font-size: 16px;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 2.5rem;
    font-weight: 700;
}
h6{
    color:#D8D8D8;
}

.navbar-light .navbar-nav .nav-item a{
    color: black;
    padding: 0 20px;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-item a:hover,
.fas:hover,
.navbar-light .navbar-nav .nav-item a:active,
.fas.active
{
color:coral;
}
.fas{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}